{
  "extends": [
    "@nuxtjs/eslint-config-typescript"
  ],
  "rules": {
    "comma-dangle": "off",
    "no-console": "off",
    "arrow-parens": ["error", "as-needed"],
    "vue/attribute-hyphenation": ["error", "never"],
    "vue/singleline-html-element-content-newline": "off"
  }
}
